{% macro render_field(field) %}
{% if field.type == 'RadioField'%}
  <dd>
    <dt>{{ field.label(class="required") }}</dt>
      {{ field(**kwargs)|safe }}

      {% if field.errors %}
    <ul class="list-unstyled">
    {% for error in field.errors %}
      <li class="text-danger">
        <i class="bi bi-exclamation-circle" aria-hidden="true"></i>
        {{ error }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</dd>
{% else %}
  <dd>
    <div class="form-floating mb-3">
      {{ field(**kwargs)|safe }}
      {% if field.type == 'TextAreaField' %}
      <div id="charCount" class="char-counter">700 characters remaining</div>
      {% endif %}

      {% if field.name == 'extra_info' or field.name == 'swagger' or field.name == 'login_email' or field.name == 'login_password' %}
        {{ field.label }}
      {% else %}
        {{ field.label(class="required") }}
      {% endif %}
      {% if field.errors %}
    <ul class="list-unstyled">
    {% for error in field.errors %}
      <li class="text-danger">
        <i class="bi bi-exclamation-circle" aria-hidden="true"></i>
        {{ error }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
    </div>
</dd>
{% endif %}
{% endmacro %}