{% extends "base.html" %}

{% block content %}

<div class="container mt-2">
    <div class="bg-light rounded">
        <div class="row">
            <h2>View Applications
                <a  class="button btn btn-success float-lg-end" href="{{url_for('application.create')}}">Add New Application</a>
            </h2>
        </div>
        <table id="applicationTable" class="display table table-hover table-striped table-light">
            <thead class="table-dark">
            <tr>
                <th></th>
                <th>Application Name</th>
                <th>Development Team</th>
                <th>Status</th>
            </tr>
            </thead>
    </table>
    </div>
</div>
{% endblock %}