{% extends "base.html" %}

{% block content %}

<div class="container mt-2">
    <div class="bg-light rounded">
        <div class="row">
            <h2>View Applications
                <a  class="button btn btn-success float-lg-end" href="{{url_for('application.create')}}">Add New Application</a>
            </h2>
        </div>
        <table id="applicationTable" class="display table table-hover table-striped table-light no-wrap">
            <thead class="table-dark">
            <tr>
                <th></th>
                <th>Application Name</th>
                <th>Development Team</th>
                <th>Server</th>
                <th>Production Pods</th>
                <th>Actions</th>
                <th>Development team email</th>
                <th>Application Url</th>
                <th>Swagger</th>
                <th>Bitbucket</th>
                <th>Extra Info</th>
            </tr>
            </thead>
            <tbody>
            {% for app in applications %}
            <tr>
                <td></td>
                <td>{{app.name}}</td>
                <td>{{app.team_name}}</td>
                <td>{{app.server}}</td>
                <td>{{app.production_pods}}</td>
                <td>
                    <a href="{{url_for('application.update', application_id = app.id)}}"><i class="bi bi-pencil fs-4 mx-1"></i></a>
                    {% if user.is_admin %}
                    <a href="/delete/{{app.id}}" data-bs-toggle="modal" data-bs-target="#modeldeleteapplication{{app.id}}"><i class="bi bi-trash fs-4 text-danger mx-1"></i></a>
                    {% endif %}
                </td>
                <td>{{app.team_email}}</td>
                <td>{{app.url}}</td>
                <td>{{app.swagger}}</td>
                <td>{{app.bitbucket}}</td>
                <td>{{app.extra_info}}</td>
            </tr>
        <div class="modal fade" id="modeldeleteapplication{{app.id}}" tabindex="-1" aria-labelledby="modelDeleteApplicationLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x-circle text-danger" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                            <h3>Are you sure?</h3>
                            <p>Are you sure you want to delete the application {{app.name}}. This process cannot be undone</p>
                            <div>
                                <a href="" class="button btn btn-secondary">Cancel</a>
                                <a href="{{url_for('application.delete', application_id = app.id)}}" class="button btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}