{% extends "base.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<div class="container mt-2">
    <h4>Update Application</h4>
    <form action="{{ url_for('application.update', application_id = application.id) }}" method="POST">
      {{ form.hidden_tag() }}
      <dl>
        {{ render_field(form.name, class='form-control mt-4', placeholder='Application name') }}
        {{ render_field(form.team_name, class='form-control', placeholder='Development team') }}
        {{ render_field(form.team_email, class='form-control', placeholder='Development team email') }}
        {{ render_field(form.url, class='form-control', placeholder='Application Url')}}
        {{ render_field(form.swagger, class='form-control', placeholder='Swagger') }}
        {{ render_field(form.bitbucket, class='form-control', placeholder='Application bitbucket') }}
        {{ render_field(form.server, class='form-select', placeholder='Server') }}
        {{ render_field(form.production_pods, class='form-control', placeholder='Number of production pods') }}
        {{ render_field(form.extra_info, class='form-control', placeholder='Extra information') }}
      </dl>
      <div class="d-grid gap-2 text-center">
        <button class="btn btn-primary" type="submit">Update application</button>
      </div>
    </form>
</div>

{% endblock %}